includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - %rootDir%/../../../src
