parameters:
	ignoreErrors:
		-
			message: '#^Property Answear\\SpeedyBundle\\Request\\FindOfficeRequest\:\:\$countryId is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Request/FindOfficeRequest.php

		-
			message: '#^Property Answear\\SpeedyBundle\\Request\\FindOfficeRequest\:\:\$limit is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Request/FindOfficeRequest.php

		-
			message: '#^Property Answear\\SpeedyBundle\\Request\\FindOfficeRequest\:\:\$name is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Request/FindOfficeRequest.php

		-
			message: '#^Property Answear\\SpeedyBundle\\Request\\FindOfficeRequest\:\:\$siteId is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Request/FindOfficeRequest.php
